<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App.Properties.Settings.DB_CONNECT" connectionString="Data Source=34.80.167.226,1433;Initial Catalog=PCBuild;User Id=sqlserver;Password=admin;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="App.Properties.Settings.PCBuildConnectionString" connectionString="Data Source=34.80.167.226;Initial Catalog=PCBuild;User ID=sqlserver;Password=admin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="App.Properties.Settings.PCBuildConnectionString1"
            connectionString="Data Source=34.80.167.226;Initial Catalog=PCBuild;Persist Security Info=True;User ID=sqlserver;Password=admin;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>